name: coverage

on:
  push:
    branches:
      - main
jobs:
  test:
    name: coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
      - uses: Swatinem/rust-cache@v1
      - name: Coverage
        uses: actions-rs/tarpaulin@v0.1.3
        with:
          args: --ignore-tests --ciserver github-ci --coveralls ${{ secrets.COVERALLS_TOKEN }}
